<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>

  <!-- 브라우저에게 웹사이트가 모바일에 최적화되었음을 알림-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Google Material 폰트와 아이콘 불러오기 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <!-- Google Maps API to track location  -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2dOwlQf3gVuO_sWm3YpW2-1zj-duWlDc" async defer></script>
</head>
